html {
    scroll-behavior: smooth;
  }
  body {
    margin: 0;
  }
  .nav-bar {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: inline-block;
    margin: 0.5rem;
    /* margin-left: 7rem; */
  }
  hr {
    margin: 0px;
    border: 2px solid black;
  }
  .underline-text {
    text-decoration: underline black;
  }
  .header-main {
    width: auto;
    height: 15rem;
    background-color: rgba(78, 182, 172, 255);
  }
  .h1-title {
    text-align: center;
  }
  .center {
    max-width: 100ch;
    margin-left: auto;
    margin-right: auto;
    padding-right: 1rem;
    padding-left: 1rem;
  }
  .right {
    max-width: auto;
    margin-left: 20ch;
    margin-right: auto;
  }
  .header-button {
    color: rgba(78, 182, 172, 255);
    padding: 0.25rem;
    border-radius: 0.3125rem;
    border: 1px solid rgb(228, 223, 223);
  }
  .name {
    color: white;
    font-size: 1.2rem;
  }
  .full-name {
    margin-right: 21.7rem;
  }
  .nav-list {
    display: inline-block;
    margin: 0.5rem;
  }
  
  .h1-title {
    color: white;
    font-size: 3rem;
  }
  
  .p-title {
    color: white;
  }
  span {
    color: black;
  }
  .tech-break {
    display: inline-block;
  }
  .my-tech {
    margin-bottom: 0;
  }
  .title-1 {
    width: 11rem;
    height: auto;
    border: 0.4rem solid rgba(174, 20, 87, 255);
    border-radius: 0.4rem;
    display: inline-block;
    padding: 1rem;
    margin: 1rem;
  }
  .port {
    text-align: center;
  }
  .portfolio-button {
    background-color: rgba(174, 20, 87, 255);
    color: white;
    width: 9rem;
    padding: 0.25rem;
    border: 0.0625rem solid rgba(174, 20, 87, 255);
    border-radius: 0.3125rem;
    margin: 1rem;
    font-size: 0.8rem;
  }
  .github {
    color: rgba(174, 20, 87, 255);
    margin-left: 3.5rem;
    font-size: 0.7rem;
  }
  .about-head {
    text-align: center;
  }
  a {
    color: white;
    text-decoration: none;
  }
  .footer-main {
    width: auto;
    height: 3.125rem;
    background-color: rgba(29, 49, 58, 255);
    color: white;
    padding: 0.125rem;
  }
  .copyright {
    margin-left: 0.5rem;
  }
  